.git/
.vs/
.vscode/
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.sdf
*.opensdf
*.vcxproj.ipch
*.sln
*.dll
ipch/
*.db
*.obj
*.exe
*.pdb
*.log
*.ilk
*.idb
CMakeCache.txt
Debug/
Release/
x64/
music/
build/
Terminal.aadd649c/